*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #181419;
    color:white; 
     
}


/*header*/


.header{
    background-color:#9f3647;
    color:#ffffff;
    height: 10vh;
    position:sticky;
    top: 0;
    z-index:10;
    }

    /* nav*/

.navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left:40px;
        margin-right: 40px;
        padding: 1.5rem 0;
}

.logo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
}

.logo img{

    width: 50px;
}


